* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: bisque;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
